<h1>Dashboard</h1>

<%= turbo_stream_from "tasks" %>
<%= turbo_frame_tag "tasks", src: tasks_path do %>
<% end %>

<%= turbo_stream_from "companies" %>
<%= turbo_frame_tag "companies", src: companies_path do %>
<% end %>