<%= turbo_frame_tag dom_id(@employee) do %>
  <hr>
  <h1>Editing employee</h1>
  <blockquote>
    <%= render "form", employee: @employee %>
    <%= link_to 'Cancel', @employee %>
  </blockquote>
<% end %>