<div>
  <p class="firstHeading">Operador: <%=employee.name%></p>
  <a class="btn btn-primary btn-sm" href="javascript:;" onClick="calcRoute('+<%=employee.address%>+', '+<%=task.address%>+')">Ativar operador para esta tarefa</a>
</div>
