<div id='map_<%=task.id%>'
  data-map-latitude-value="<%=task.latitude%>"
  data-map-longitude-value="<%=task.longitude%>"
  data-controller="map"
  data-map-token-value="pk.eyJ1IjoiZm9vbGtncyIsImEiOiJja3k3MHZhb3kwa3RrMnVxbWJzbmVld3RuIn0.NNx2a79ajXOwl4GavIhJ-A"
  data-map-users-value="<%=task.users.pluck(:longitude, :latitude)%>"
  style='width: 800px; height: 400px;'></div>
