<section class="chat">
  <aside class="chat-list">
    <h3 class="h5">Atendimentos</h3>
    <div class="card chat-list_items">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-primary text-light">
          <strong>José da Silva</strong><br>
          <small>477 Feest Locks, 11/12/2021 - 09:39</small>
        </li>
        <li class="list-group-item">
          <strong>Carla de Jesus</strong><br>
          <small>11/12/2021 - 09:39</small>
        </li>
        <li class="list-group-item">
          <strong>Mario José</strong><br>
          <small>11/12/2021 - 09:39</small>
        </li>
        <li class="list-group-item">
          <strong>José da Silva</strong><br>
          <small>11/12/2021 - 09:39</small>
        </li>
        <li class="list-group-item">
          <strong>Carla de Jesus</strong><br>
          <small>11/12/2021 - 09:39</small>
        </li>
        <li class="list-group-item">
          <strong>Mario José</strong><br>
          <small>11/12/2021 - 09:39</small>
        </li>
        <li class="list-group-item">
          <strong>Carla de Jesus</strong><br>
          <small>11/12/2021 - 09:39</small>
        </li>
        <li class="list-group-item">
          <strong>Mario José</strong><br>
          <small>11/12/2021 - 09:39</small>
        </li>
        <li class="list-group-item">
          <strong>José da Silva</strong><br>
          <small>11/12/2021 - 09:39</small>
        </li>
        <li class="list-group-item">
          <strong>Carla de Jesus</strong><br>
          <small>11/12/2021 - 09:39</small>
        </li>
        <li class="list-group-item">
          <strong>Mario José</strong><br>
          <small>11/12/2021 - 09:39</small>
        </li>
      </ul>
    </div>
  </aside>
  <section class="chat-body">
    <h3 class="h5">José da Silva</h3>
    <div class="p-3 border rounded-top chat-body_items">
      <p class="text-start me-5">
        <small class="d-block">José da Silva - 14:32</small>
        <span class="chat-body_bubble bg-primary text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nulla ex, varius vel enim non, iaculis euismod nisi. Sed eget auctor ligula. Vestibulum tempor arcu lorem, vel fermentum ligula volutpat vitae. Nulla facilisi. In id eros porta, pulvinar mi ac, placerat odio. Sed suscipit risus urna, non ultricies ligula sodales bibendum. In mi nisl, maximus nec ex non, mollis porta nulla. Vivamus ultricies consectetur pellentesque.</span>
      </p>
      <p class="text-end ms-5">
        <small class="d-block">Atendente - 14:32</small>
        <span class="chat-body_bubble bg-light">Integer a dictum purus. Aenean pharetra sem leo, in ullamcorper risus ornare sed. Sed dapibus enim eu congue facilisis. Vivamus sit amet erat nisl. Phasellus consequat, neque finibus pretium volutpat, massa felis porta diam, mollis aliquet arcu sapien et sapien. Nullam ultrices efficitur tortor, non dictum turpis egestas vitae. Nullam vestibulum tortor eget nulla egestas, non feugiat velit mattis. Nunc rhoncus ac est ut pretium.</span>
      </p>
      <p class="text-start me-5">
        <small class="d-block">José da Silva - 14:32</small>
        <span class="chat-body_bubble bg-primary text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nulla ex, varius vel enim non, iaculis euismod nisi. Sed eget auctor ligula. Vestibulum tempor arcu lorem, vel fermentum ligula volutpat vitae. Nulla facilisi. In id eros porta, pulvinar mi ac, placerat odio. Sed suscipit risus urna, non ultricies ligula sodales bibendum. In mi nisl, maximus nec ex non, mollis porta nulla. Vivamus ultricies consectetur pellentesque.</span>
      </p>
      <p class="text-end ms-5">
        <small class="d-block">Atendente - 14:32</small>
        <span class="chat-body_bubble bg-light">Integer a dictum purus. Aenean pharetra sem leo, in ullamcorper risus ornare sed. Sed dapibus enim eu congue facilisis. Vivamus sit amet erat nisl. Phasellus consequat, neque finibus pretium volutpat, massa felis porta diam, mollis aliquet arcu sapien et sapien. Nullam ultrices efficitur tortor, non dictum turpis egestas vitae. Nullam vestibulum tortor eget nulla egestas, non feugiat velit mattis. Nunc rhoncus ac est ut pretium.</span>
      </p>
      <p class="text-start me-5">
        <small class="d-block">José da Silva - 14:32</small>
        <span class="chat-body_bubble bg-primary text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nulla ex, varius vel enim non, iaculis euismod nisi. Sed eget auctor ligula. Vestibulum tempor arcu lorem, vel fermentum ligula volutpat vitae. Nulla facilisi. In id eros porta, pulvinar mi ac, placerat odio. Sed suscipit risus urna, non ultricies ligula sodales bibendum. In mi nisl, maximus nec ex non, mollis porta nulla. Vivamus ultricies consectetur pellentesque.</span>
      </p>
      <p class="text-end ms-5">
        <small class="d-block">Atendente - 14:32</small>
        <span class="chat-body_bubble bg-light">Integer a dictum purus. Aenean pharetra sem leo, in ullamcorper risus ornare sed. Sed dapibus enim eu congue facilisis. Vivamus sit amet erat nisl. Phasellus consequat, neque finibus pretium volutpat, massa felis porta diam, mollis aliquet arcu sapien et sapien. Nullam ultrices efficitur tortor, non dictum turpis egestas vitae. Nullam vestibulum tortor eget nulla egestas, non feugiat velit mattis. Nunc rhoncus ac est ut pretium.</span>
      </p>
      <p class="text-start me-5">
        <small class="d-block">José da Silva - 14:32</small>
        <span class="chat-body_bubble bg-primary text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nulla ex, varius vel enim non, iaculis euismod nisi. Sed eget auctor ligula. Vestibulum tempor arcu lorem, vel fermentum ligula volutpat vitae. Nulla facilisi. In id eros porta, pulvinar mi ac, placerat odio. Sed suscipit risus urna, non ultricies ligula sodales bibendum. In mi nisl, maximus nec ex non, mollis porta nulla. Vivamus ultricies consectetur pellentesque.</span>
      </p>
      <p class="text-end ms-5">
        <small class="d-block">Atendente - 14:32</small>
        <span class="chat-body_bubble bg-light">Integer a dictum purus. Aenean pharetra sem leo, in ullamcorper risus ornare sed. Sed dapibus enim eu congue facilisis. Vivamus sit amet erat nisl. Phasellus consequat, neque finibus pretium volutpat, massa felis porta diam, mollis aliquet arcu sapien et sapien. Nullam ultrices efficitur tortor, non dictum turpis egestas vitae. Nullam vestibulum tortor eget nulla egestas, non feugiat velit mattis. Nunc rhoncus ac est ut pretium.</span>
      </p>
    </div>
    <form class="chat-body_form border border-top-0 rounded-bottom bg-light">
      <label class="form-label visually-hidden" for="mensagem">Mensagem</label>
      <input type="text" class="form-control" placeholder="Mensagem" id="mensagem">
      <button class="btn btn-primary">Enviar</button>
    </form>
  </section>
</section>
