

<h1>Tasks</h1>

<table class="table" id="tasks">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Category</th>
      <th>Title</th>
      <th>Completed at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tasks %>
  </tbody>
</table>

