<h1>Tasks</h1>
<div class="text-center mb-4">
<%= will_paginate @tasks, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<hr />
<%= link_to 'New Register', url_for(action: :new), class: 'btn btn-primary' %>
</div>

<table class="table" id="tasks">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Category</th>
      <th>Title</th>
      <th>Completed at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tasks %>
  </tbody>
</table>
