* {
  box-sizing: border-box;
}
main {
  padding: 16px;
  height: 100vh;
}

.chat {
  display: flex;
  gap: 16px;
  height: 100%;
}

.chat-list {
  height: 100%;
}

.chat-list_items {
  width: 256px;
  overflow-y: auto;
  height: calc(100% - 32px);
}

.chat-body {
  flex-grow: 1;
}

.chat-body_items {
  position: relative;
  height: calc(100% - 88px);
  overflow-y: auto;
}

.chat-body_bubble {
  display: inline-block;
  border-radius: 8px;
  padding: 8px 16px;
}

.chat-body_form {
  display: flex;
  gap: 8px;
  padding: 8px;
}
