.chat {
  display: block;
  gap: 16px;
  height: 100%;
}

.chat-list {
  height: 100%;
}

.chat-list_items {
  width: 256px;
  overflow-y: auto;
  height: calc(100% - 32px);
}

.chat-body {
  flex-grow: 1;
  height: 400px;
}

.chat-body_items {
  position: relative;
  height: calc(100% - 134px);
  overflow-y: auto;
  border-radius: 8px;
  border: 0.35rem solid var(--accent);
  padding: 10px;
}
.chat-body_items .d-block {
  margin-right: 10px;
}
.chat-body_items .text-end {
  text-align: right;
}
.chat-body_bubble {
  display: inline-block;
  border-radius: 8px;
  border-left: 0.35rem solid var(--accent);
  padding-left: 10px;
}

.chat-body_form {
  display: block;
}
