<%= bootstrap_form_for(category) do |form| %>
  <%= form.text_field :title %>

  <div>
    <div class="btn-group" role="group" aria-label="Actions">
      <%= form.submit %>
      <%= link_to 'Back to list', url_for(action: :index), class: 'btn btn-outline-secondary' %>
    </div>
  </div>
<% end %>
