<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <li><%= link_to "Tasks", tasks_path, class: "nav-link px-2 link-dark" %></li>
  <li><%= link_to "Categories", categories_path, class: "nav-link px-2 link-dark" %></li>
  <li><%= link_to "Employees", employees_path, class: "nav-link px-2 link-dark" %></li>
</ul>

<span class="navbar-text">
  <%=link_to "Logout", destroy_user_session_path, method: :delete %>
</span>
