<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <li><%= link_to "Login", new_user_session_path, class: "nav-link px-2 link-dark" %></li>
  <li><%= link_to "Forgot password", new_user_password_path, class: "nav-link px-2 link-dark" %></li>
</ul>