<header class="p-3 mb-4 border-bottom sticky-top bg-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <%= fa_icon "wifi", class: "fa-2x" %>
      </a>

      <%= render 'layouts/header_authenticated' %>
    </div>
  </div>
</header>
