<div id='map_<%=owner.id%>'
  data-map-latitude-value="<%=owner.latitude%>"
  data-map-longitude-value="<%=owner.longitude%>"
  data-controller="map"
  data-map-token-value="pk.eyJ1IjoiZm9vbGtncyIsImEiOiJja3k3MHZhb3kwa3RrMnVxbWJzbmVld3RuIn0.NNx2a79ajXOwl4GavIhJ-A"
  style='width: 600px; height: 300px;'></div>
